*{
 background-color: #FAB95B;
 /* background-image: url(/portfolio/Logopngs/sand\ _dune.jpg); */
 background-repeat: no-repeat;
 background-size: cover;
}
body{
	font-family: poppins, sans-serif;
	color: #212121;
	background-repeat: no-repeat;
	background-size: cover;
}
header{
	background-color: rgb(57, 62, 70);
	padding: 30px;
	font-size: 35px;
	display: flex;
	flex-direction: row;
}
header img{
	width: 100px;
	height: 100px;
	margin-right: 10px;
	background-color: rgb(57, 62, 70);
	
}
header div.header{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: rgb(57, 62, 70);
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	position: relative;
	left: 30%;
	font-size: 1.2vw;
	background-color: inherit;
}
ul li{
	background-color: inherit;
}
ul li a{
	background-color: inherit;
}
a{
	text-decoration: none;
	color: rgb(238, 238, 238);
}
header a:hover{
	color: rgb(255, 211, 105);
	
}
a:active{
	cursor: wait;
}
ul li{
	margin-left: 40px;
	padding: 10px;
}

main{
	background-color: #ECE5C7;
}
main div{
	display: block;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}
h1{
	font-size: 3.0vw;
}
.bio{
	display: block;
	width: 60vw;
	position: absolute;
	left: 20%;
	margin-top: 20px;
	letter-spacing: 2px;
	line-height: 50px;
	
}
div.bio a{
	padding: 12px;
	background-color: rgba(33, 33, 33, 0.2);
	border-radius: 5px;
}
div.bio a:hover{
	background-color: #665C84;
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
	position: relative;
	top: 620px;
	width: %;
	align-items: center;
	
}
footer p{
	font-size: 1.2vw;
	color: #354259;
}
footer a img{
	width: 30px;
	height: 30px;
}
footer a{
	text-decoration: none;
}