
body{
	font-family: poppins, sans-serif;
	color: rgb(39, 102, 120);
	background-color: rgb(211, 224, 234);
}
header{
	padding: 20px;
	display: block;
}
header img{
	width: 60px;
	height: 60px;
	color: rgb(22, 135, 167);
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 20px;
	display: flex;
	flex-direction: row;
	float: right;
	font-size: 0.8vw;
	background-color: inherit;
}
header ul li a{
	background-color: inherit;
}
a{
	text-decoration: none;
	color: rgb(39, 102, 120);
}
header a:hover{
	color: rgb(246, 245, 245);
	background-color: cornflowerblue;
	padding: 8px;
	border-radius: 7px;
}
ul li{
	margin-left: 40px;
	padding: 10px;
}


section h1{
	font-size: 3.0vw;
	text-shadow: 2px 2px 5px rgb(39, 102, 120);
}
.name{
	padding: 20px;
	width: 60vw;
	letter-spacing: 2px;
	line-height: 50px;
	text-align: center;
	margin: auto;
}
div a{
	padding: 12px;
	background-color: rgba(33, 33, 33, 0.2);
	border-radius: 5px;
}
div a:hover{
	background-color: rgb(22, 135, 167);
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
	position: relative;
	align-items: center;
	margin-top: 30px;
}
footer p{
	font-size: 0.8vw;
	color: rgb(22, 135, 167);
	position: relative;
	left: 0px;
}
footer a img{
	width: 30px;
	height: 30px;
}
footer a{
	text-decoration: none;
}